@import '~/assets/scss/variable.scss';
@import '~/assets/scss/mixin.scss';

@font-face {
    font-family: 'lokicola';
    src: url('/fonts/LOKICOLA.TTF') format('truetype')
}
@font-face {
    font-family: 'cocacola';
    src: url('/fonts/cocacolaii.ttf') format('truetype')
}
